{% extends "base.html" %}

{% block title %}add_aircraft2{% endblock %}

{% block content %}

<h2>Define Aircraft Classes</h2>

<form method="POST">
    <input type="hidden" name="size" value="{{ request.args.get('size') }}">

    <h3>Economy</h3>
    Rows: <input type="number" name="economy_rows" required><br>
    Columns: <input type="number" name="economy_cols" required><br><br>

    {% if request.form.get("size") == "Large" %}
    <h3>Business</h3>
    Rows: <input type="number" name="business_rows"><br>
    Columns: <input type="number" name="business_cols"><br><br>
    {% endif %}

    <input type="submit" value="Save Aircraft">
</form>

<a href="{{ url_for('admin_add_aircraft') }}">
    <button type="button">Back</button>
</a>

{% endblock %}
