<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}
    <div>
        <h1>Admin Login</h1>
        <form action="/adminlogin" method="POST">
            <input placeholder="ID" autocomplete="off" type="text" name="ID" maxlength="50" required>
            <br><br>
            <input placeholder="Password" type="password" name="password" maxlength="50" required>
            <br><br>

            <input type="submit" value="Log In">
        </form>
    </div>
</body>
</html>