<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}FlyTAU{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- HEADER -->
<header class="main-header">
    <div class="header-left">
        {% block header_left %}{% endblock %}
    </div>

    <div class="header-center">
        <a href="/" class="logo-link">
            <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="FLYTAU logo"
                class="site-logo"
            >
        </a>
    </div>

    <div class="header-right">
        {% block header_right %}{% endblock %}
    </div>
</header>


    <!-- PAGE CONTENT -->
    <main class="page-content">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
