<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <div>
        <h1>FLYTAU</h1>

        <form action="/login" method="GET">
            <input type="submit" value="Login">
        </form>

        <form action="/signup" method="GET">
            <input type="submit" value="Sign Up">
        </form>

        <form action="/adminlogin" method="GET">
            <input type="submit" value="Admin Login">
        </form>

        <form action="/search_flights" method="GET">
            <input type="submit" value="Search Flight">
        </form>

    </div>
</body>
</html>