<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Flights</title>
</head>
<body>
{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}
<form action="/search_flights" method="POST">
<input type="date" name="flight_date" required>
<br><br>
<select name="origin">
{% for origin in origins %}
    <option value="{{ origin[0] }}">{{ origin[0] }}</option>
{% endfor %}
</select>
<br><br>
<select name="destination">
{% for dest in destinations %}
    <option value="{{ dest[0] }}">{{ dest[0] }}</option>
{% endfor %}
</select>
<br><br>

  <input type="submit" value="Search">
</form>
</body>
</html>